@keyframes arrow-left-about{
	0%{
		left: 20%;
	}
	50%{
		left: 22%;
	}
	100%{
		left: 20%;
	}
}
@keyframes arrow-right-about{
	0%{
		right: 20%;
	}
	50%{
		right: 22%;
	}
	100%{
		right: 20%;
	}
}
@keyframes arrow-left-galery{
	0%{
		left: 45%;
	}
	50%{
		left: 45.5%;
	}
	100%{
		left: 45%;
	}
}
@keyframes arrow-right-galery{
	0%{
		right: 45%;
	}
	50%{
		right: 45.5%;
	}
	100%{
		right: 45%;
	}
}
@keyframes arrow-top-news{
	0%{
		top: -30px;
	}
	50%{
		top: -45px;
	}
	100%{
		top: -30px;
	}
}
@keyframes arrow-bottom-news{
	0%{
		bottom: -20px;
	}
	50%{
		bottom: -35px;
	}
	100%{
		bottom: -20px;
	}
}
@keyframes arrow-left-news{
	0%{
		left: -30px;
	}
	50%{
		left: -45px;
	}
	100%{
		left: -30px;
	}
}
@keyframes arrow-right-news{
	0%{
		right: 25px;
	}
	50%{
		right: 10px;
	}
	100%{
		right: 25px;
	}
}
.arrow-left-about{
	animation: 'arrow-left-about' .5s 1;
}
.arrow-right-about{
	animation: 'arrow-right-about' .5s 1;
}
.arrow-left-galery{
	animation: 'arrow-left-galery' .5s 1;
}
.arrow-right-galery{
	animation: 'arrow-right-galery' .5s 1;
}
.arrow-top-news{
	animation: 'arrow-top-news' .5s 1;
}
.arrow-bottom-news{
	animation: 'arrow-bottom-news' .5s 1;
}
.arrow-left-news{
	animation: 'arrow-left-news' .5s 1;
}
.arrow-right-news{
	animation: 'arrow-right-news' .5s 1;
}
.church-body{
	height: 100vh;
	background-image: url(../../static/img/music-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	margin: 0;
	.header{
		position: relative;
		z-index: 2;
		&__nav{
			float: left;
		}
	}
	.list{
		padding-left: 0;
		&__item{
			position: relative;
			a{
				@include raleway(16,#fff,400);
				transition: color .3s;
				margin-left: 58px; 
				position: relative;
				transition: color .3s;
				&:hover{
					color:#e80500;
				}
				&+div{
					transform: scaleX(0);
					transform-origin: left;
					width: 45px;
					transition: transform .3s;
					position: absolute;
    				top:50%;
    				left: 0;
					height: 1px;
					background: #e80500;
				}
				&:hover+div{
					/*animation-name: example;
    				animation-duration: .3s;*/
					transform: scaleX(1);
				}
			}
		}
	}
	.logo{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		height: 99vh;
		width:41%;
		&__img{
			height: 100%;
			width:100%;
		}
		&__title{
			position: absolute;
			@include oswald(27.52,#fff,200);
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			text-transform: uppercase;
			letter-spacing: 5px;
		}
	}
	.main{
		position: relative;
		height: 100vh;
		&__nav{
			position: absolute;
			left: 0;
			top: 15%;
			width: 20%;
			z-index: 5;
			.music-list{
				&__item{
					float: none;
					margin-bottom: 45px;
					list-style-type: decimal;
					@include raleway(16,#1a1a1a,500);
					transition: color .3s;
					&_active{
						color:#939393;
					}
					&:hover{
						color:#939393;
						cursor: pointer;
					}
				}
			}
		}
		&__circle{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			z-index: -1;
			border:0px solid rgba(91,6,4,.8);
			transition: padding .5s;
			&_1{
				padding: 42%;
				
			}
			&_2,&_3,&_1{
				border-width: 62px;
			}
			&_2{
				padding: 34%;
			}
			&_3{
				padding: 27%;
			}
			&_4{
				padding: 22%;
				border-width: 50px;
				
			}
		}
	}
	.track-list{
		position: absolute;
		height: 100vh;
		width: 100%;
		padding: 0;
		z-index: 1;
		margin: 0;
		&__item{
			position: absolute;
			transition: color .3s;
			text-align: center;
			border-radius: 50%;
			border: 62px solid transparent;
			top: 50%;
			transform: translate(-50%,-50%);
			left: 50%;
			a{
				@include oswald(16,#fff,200);
				color: rgba(255, 255, 255, 0.329);
				z-index: 20;
				width: 60px;
				&:first-child{
					position: absolute;
					left: -75px;
				}
				&:last-child{
					position: absolute;
					right: -75px;
				}
				&:hover{
					color:#fff;
					cursor: pointer;
				}
			}
		}
		&__item_1{
			padding: 22%;
		}
		&__item_2{
			padding: 27%;
		}
		&__item_3{
			padding: 34%;
		}
		&__item_4{
			padding: 42%;
		}
	}
	.footer{
		position: absolute;
		bottom: 35px;
		left:40px;
		width:100%;
		z-index: 5;
		.player{
			&__wave{
				margin-right: 25px;
				float: left;
			}
			&__btn{
				margin-right: 40px;
				float: left;
				i{
					color:#fff;
					transition: color .3s;
				}
			}
			&__track{
				@include raleway(16,#fff,400);
				transition: color .3s;
			}
			&__track:hover,&__btn:hover>i,&__wave:hover{
				color:#e80500;
				cursor: pointer;
			}
		}
	}
}
.navigation{
	position: absolute;
	left: 40px;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	z-index: 2;
	&__item{
		float: none;
		list-style-type: none;
		margin-bottom: 30 * $height;
		text-align: left;
		position: relative;
		&:hover{
			a{
				color: #edee82;
			}
		}
		&:before{
			content: "";
			display: block;
			transform: scaleX(0);
			transform-origin: left;
			width: 35px;
			transition: transform .3s;
			position: absolute;
			top:50%;
			left: -40px;
			height: 1px;
			background: #edee82;

		}
		&:hover:before{
			transform: scaleX(1);
		}
		&:last-child{
			margin-bottom: 0;
		}
		&.active{
			&:before{
				transform: scaleX(1);
			}
			a{
				color: #edee82;
			}
		}
		a{
			@include raleway(18,#707070,400);
			letter-spacing: 3px;
			text-decoration: none;
		}
	}
}
.main-church{
	&__section{
		padding: 0;
		position: relative;
		.fp-tableCell{
			vertical-align: top;
		}
	}
	.hero{
		background-image: url(../img/bg-screen1.png);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		text-align: center;
		filter: grayscale(100%);
		filter: grayscale(50%);
		padding: 0 40px;
		&__title-wrap{
			position: absolute;
			top: 50%;
			left: 50%;
			width:100%;
			transform: translate(-50%,-50%);
		}
		&__logo{
			text-align: left;
			margin-top: 25px;
			a{
				@include oswald(22,#fff,500);
				text-transform: uppercase;
				letter-spacing: 5px;
				&:hover{
					text-decoration:none;
				}
			}
		}
		&__title{
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 145*$height;
			line-height: 0.807;
			@include oswald(109,#fff,500);
			letter-spacing: 15px;
		}
		&__desc{
			width: 45%;
			position: relative;
			left: 50%;
			text-align: left;
			margin:0;
			letter-spacing: 5px;
			@include raleway(28,#fff,600);
		}
		&__footer{
			position: absolute;
			bottom: 28px;
			left: 50%;
			transform: translateX(-50%);
			a{
				display: inline-block;
				&:hover{
					text-decoration:none;
				}
				p{
					margin-bottom: 15px;
					@include raleway(16,#fff,100);
				}
				.fa-long-arrow-down{
					color: #fff;
				}
			}
		}
	}
	.second-screen{
		background-image: url(../img/bg-screen2.png);
		background-repeat: no-repeat;
		background-position: 40% 7.27vh;
		background-size: 40%;
		
		&__title{
			@include oswald(150,#fff,700);
			text-align: left;
    		padding-left: 35%;
			font-size: 14.5vh;
			line-height: 0.9;
			margin: 0;
			margin-bottom: 20px;
			text-transform: uppercase;
		}
		.slider{
			float: right;
			width: 64%;
			margin-right: 80px;
			height: 86.3vh;
			height: calc(200 * $koff)vh;
			.slick-list{
				height: 100%;
			}
			.slider-content{
				height: 100%;
				&:focus{
					outline:none;
				};
				&__img{
					width: 70%;
					float: left;
					height: 86.3vh;
					img{
						width:100%;
						height: 100%;
						object-fit: cover;
					}
				}
				&__article{
					width: 26%;
					float: right;
				}
				.article{
					&__title{
						@include oswald(48,#050505,700);
						margin-top: 6.8vh;
						margin-bottom: 5.8vh;
						position: relative;
						left: -50%;
					}
					&__date{
						@include oswald(28,#050505,600);
						text-transform: uppercase;
						position: relative;
						margin-bottom: 5.8vh;
						&:before{
							content:"";
							display: block;
							height: 4px;
							width: 37.55%;
							position: absolute;
							left: -45%;
							top: 49%;
							background: #050505;
						}
					}
					&__desc{
						@include raleway(19.2,#050505,400);
						margin-bottom: 4.36vh;
						overflow: hidden;
					}
					&__link{
						@include raleway(16,#050505,400);
						text-transform: lowercase;
						transition: border-bottom .3s;
						float: left;
						span{
							display: block;
							margin-top: 0.96vh;	;
							width: 100%;
							height: 1px;
							background: #050505;
							transition: transform .3s;
							transform: scaleX(0);
							transform-origin: left;
						}	
						&:hover{
							text-decoration:none;
							span{
								transform: scaleX(1);
							}
						}
						&:focus{
							text-decoration:none;
							outline:none;
						}
					}
				}
			}
		}
		.slider-left{
			width: 11.25%;
			float: right;
			margin-right: 30px;
			margin-top: 65px;
			height: 70.5vh;
			&__item{
				padding-bottom: 35px;
				width: 100% !important;
				height: 24vh;
				&:focus{
					outline:none;
				};
				&:last-child{
					padding-bottom: 0;
				}
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.slick-list{
				padding: 0 !important;
				.slick-track{
					width: 100%;
				}
			}
			.slick-prev,.slick-next{
				z-index: 4;
				top: auto;
				width: 25px;
				height: 11px;
				left: 50%;
				transform: translateX(-50%);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-position: center center;
				transition: background-image .3s;
				&:before{
					content:'';
					
				}
			}
			.slick-next{
				bottom: -20px;
				background-image: url(../img/slider-news-arrow-pas-down.png);
				&:hover{
					background-image: url(../img/slider-news-arrow-active-down.png);
				}
			}
			.slick-prev{
				top:-30px;
				background-image: url(../img/slider-news-arrow-pas-top.png); 
				&:hover{
					background-image: url(../img/slider-news-arrow-active-top.png);
				}
			}
		}
		.navigation{
			&__item{
				&:hover{
					a{
						color: rgb(237, 238, 130);
					}
				}
				&:before{
					background: rgb(237, 238, 130);

				}
				&.active{
					a{
						color: rgb(237, 238, 130);
					}
				}
				a{
					color: rgba(0, 0, 0, 0.329);
				}
			}
		}
	}
	.third-screen{
		.slider-third{
			height: 100vh;
			&__item{
				height: 100vh;
				position: relative;
				&:focus{
					outline:none;
				};
				&:before{
					content:"";
					display: block;
					width: 20%;
					height: 100vh;
					position:absolute;
					top: 0;
					left:0;
					background: linear-gradient(to right,#000,transparent);
				}
				&_1{
					background-image: url(../img/third-slider-bg1.png);
					background-repeat: 	no-repeat;
					background-position: center center;
					background-size: cover;
				}
				.description{
					width: 48.28%;
					height: 100vh;
					padding-right: 	6.14%;
					padding-left: 2.7%;
					padding-top: 14.06vh;
					background: rgba(0,0,0,.9);	
					float: 	right;
					&__title{
						@include oswald(48,#fff,600);
						margin-top: 0;
						margin-bottom: $height * 15;
					}
					&__date{
						time{
							@include oswald(16,#fff,400);
							font-style: italic;
							margin-bottom:15 * $height;

						}
					}
					&__text{
						padding-top: 30 * $height;
						@include raleway(16,#fff,400);
						margin-bottom: 120 * $height;
						position: relative;
						letter-spacing: 1px;
						line-height: 1.371;
						&:before{
							content:"";
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							height: 5 * $height;
							width: 100%;
							background: #fff;
						}
					}
					&__footer{
						padding-top: 18*$height;
						position: relative;
						&:before{
							content:"";
							display: block;
							position: absolute;
							top: 0;
							left:0;
							height: 1px;
							width: 100%;
							background: #fff;
						}
						.social{
							margin-bottom: 15 * $height;
							p{
								@include raleway(16,#b5b0b8,600);
								float: left;
								padding-left: 10px;
								transition: color .3s;
								margin-bottom: 	0;
							}
							a{
								float: right;
								margin-left: 30px;
								i{
									color: #b5b0b8;
									transition: color .3s;
									&:hover{
										color: #edee82;
									}
								}
							}
						}
						.town{
							@include raleway(16,#b5b0b8,600);
							float: left;
							padding-left: 10px;
							transition: color .3s;
							
						}
					}
				}
			}
		}
		.third-screen__block{
			position: absolute;
			bottom: 130 * $height;
			right: 12.18%;
			width: 32%;
			text-align: center;
			h3{
				@include oswald(18,#fff,400);
				font-style: italic;
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 60*$height;
				margin-top: 0;
			}
			.third-small{
				.slick-track{
					display: flex;
					justify-content: space-between;
				}
				&__item{
					outline: none;
					width: auto !important;
					a{
						@include oswald(36,#fff,400);
						padding-bottom: 15px;
						font-style: italic;
						display: inline-block;
						outline: none;
						text-decoration: none;
						&:hover{
							color:#edee82;
							text-decoration: none;
						}
					}
					span{
						display: block;
						margin-top: 14px $height;
						width: 100%;
						height: 1px;
						background: #edee82;
						transition: transform .3s;
						transform: scaleX(0);
						transform-origin: left;
					}	
					&:hover{
						span{
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}
	.galery-slider{
		&:before{
			content:"";
			display: block;
			z-index: 2;
			width: 20%;
			height: 100vh;
			position:absolute;
			top: 0;
			left:0;
			background: linear-gradient(to right,#000,transparent);
		}
		&:after{
			content:"";
			display: block;
			z-index: 3;
			width: 100%;
			height: 30vh;
			position:absolute;
			bottom: 0;
			left:0;
			background: linear-gradient(to top,#000,transparent);
		}
		.galery-slider__item{
			height: 100vh;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			&_1{
				background-image: url(../img/bg-screen4-1.png);
			}
			&_2{
				background-image: url(../img/bg-screen4-2.png);
			}
		}
		.slick-prev,.slick-next{
			z-index: 4;
			top: auto;
			bottom: 55*$height !important;
			width: 11px;
			height: 23px;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center center;
			transition: background-image .3s;
			&:before{
				content:'';
				
			}
		}
		.slick-next{
			right: 45%;	
			background-image: url(../img/slider-4-arrow-pass-right.png);
			&:hover{
				background-image: url(../img/slider-4-arrow-active-right.png);
			}
		}
		.slick-prev{
			left: 45%;
			background-image: url(../img/slider-4-arrow-pass-left.png);
			&:hover{
				background-image: url(../img/slider-4-arrow-active-left.png);
			}
		}
	}
	.fifth-screen{
		&__left-slider{
			left: 10%;
		}
		&__right-slider{
			right: 0%;
		}
		.about-block{
			position: absolute;
			left:55%;
			top:50%;
			width: 26%;
			transform: translate(-50%,-50%);
			&__title{
				@include oswald(62,#000,700);
				margin-bottom: 56 * $height;
				margin-top: 0;
			}
			&__desc{
				@include raleway(16,#000,400);	
				line-height: 2.058;
			}
		}
		.about-slider-wrap{
			width: 30%;
			top: 120*$height;
			height: 100vh - 120*$height;
			position: absolute;
			text-align: center;
			&__title{
				@include raleway(16,#c2c2c2,200);
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 10px;
			}
		}
		.about-slider{
			height: 100vh - 120*$height;
			padding-top: 60 * $height;

			.slick-prev,.slick-next{
				z-index: 4;
				top: 32vh;
				width: 11px;
				height: 23px;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-position: center center;
				transition: background-image .3s;
				&:before{
					content:'';
				}
			}
			.slick-next{
				right: 20%;	
				background-image: url(../img/slider-about-arrow-active-right.png);
			}
			.slick-prev{
				left: 20%;
				background-image: url(../img/slider-about-arrow-active-left.png);
				
			}
			.slick-list{
				height: 100vh - 120*$height;
				.slick-track{
					height: 100vh - 120*$height;
				}
			}
			&__item{
				height: 100%;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
				&_1{
					background-image: url(../img/about-1.png);
				
				}
				&_2{
					background-image: url(../img/about-2.png);
				}
				&_3{
					background-image: url(../img/about-3.png);
				}
				&_4{
					background-image: url(../img/about-4.png);
				}
			}
		}
	}
	.sixth-screen{
		background-image: url(../img/bg-screen6.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		&__header{
			width: 50%;
			margin: 0 auto;
			text-align: center;
			margin-top: 80 * $height;
			margin-bottom: 80 * $height;
		}
		&__title{
			@include oswald(62,#fff,400);
			font-style: italic;
			margin-top: 0;
			margin-bottom: 30 * $height;
		}
		&__desc{
			@include raleway(28,#fff,400);
			margin: 0;
		}
		&__content{
			width: 50%;
			margin: 0 auto;
			margin-bottom: 100 * $height;
			height: 350 * $height;
		}
		.event{
			text-align: center;
			position: relative;
			width: 0;
			height: 120 * $height;
			float: left;
			transform:scaleY(0);
			transform-origin: left;
			.event-title__wrap{
				position: absolute;
				width: 100%;
				height: 0;
				overflow: hidden;
				transform:scaleY(0);
				transform-origin: bottom;
			}
			&__title{
				@include oswald(27.87,#fff,700);
				text-transform: uppercase;
				margin-top: 0;
				position: relative;
				overflow: hidden;
				margin-bottom: 30 * $height;
				height: 28 * $height;
				transform:scaleY(1);
			}
			&__line{
				width: 100%;
				height: 0px;
				background: #fff;
				top: 44 * $height;
				position: absolute;
				margin: 0;
			}
			&__wrap{
				height: 0;
				transform-origin: top;
				overflow: hidden;
				transform:scaleY(0);
				margin-top: 70 * $height;
			}
			&__name{
				@include raleway(18,#fff,700);
				text-transform: uppercase;
				margin-bottom: 10 * $height;
			}
			&__time{
				@include oswald(18,#fff,600);
				margin: 0;
			}
		}
		&__footer{
			width: 74.3%;
			float: right;
			margin-right: 6.14%;
			.slogan{
				float: left;
				width: 20%;
				&__title{
					text-transform: uppercase;
					@include oswald(48,#fff,700);
					margin: 0;
					margin-bottom: 25*$height;

				}
				&__desc{
					@include raleway(18,#fff,400);
					margin: 0;
				}
			}
			.contact{
				float: right;
				width: 15%;
				margin-top:50 * $height;
				&__title,&__town,&__street,&__phone{
					@include oswald(18,#fff,400);
					font-style: italic;
					margin: 0;
					margin-bottom: 10 * $height;
				}
				&__title{
					/*position:;*/
					float: left;
					left: -15%;
					span{
						display: block;
						height: 1px;
						width: 14%;
						position: absolute;
						bottom: 17.5vh;
						right: 0;
						background: #fff;
						
						transform: scaleX(0);
						transform-origin: right;
					}
				}
				.go-map{
					position: relative;
					right: -40%;
					@include raleway(16,#fff,200);
					transition: border-bottom .3s;
					padding-bottom: 10px;
					&:hover{
						text-decoration:none;
						border-bottom: 1px solid #fff;
					}
				}
			}
		}
	}
	.active{
		.event{
			width: 25%;
			transform:scaleY(1);
			.event-title__wrap{
				height: 28 * $height;
				transform:scaleY(1);
			}
			&__wrap{
				height: 60 * $height;
				transform:scaleY(1);
			}
			&_1{
				.event-title__wrap{
					transition: height .5s 1s, transform .5s 0.9s;
				}
				.event__wrap{
					transition: height .5s 1s, transform .5s 0.9s;
				}
				transition: width .3s 1s;

			}
			&_2{
				margin-top: 87 * $height;
				.event-title__wrap{
					transition: height .5s 1.5s, transform .5s 1.4s;
				}
				.event__wrap{
					transition: height .5s 1.5s, transform .5s 1.4s;
				}
				transition: width .3s 1.5s;

			}
			&_3{
				margin-top: 174 * $height;
				.event-title__wrap{
					transition: height .5s 2s, transform .5s 1.9s;
				}
				.event__wrap{
					transition: height .5s 2s, transform .5s 1.9s;
				}
				transition: width .3s 2s;

			}
			&_4{
				margin-top: 232 * $height;
				.event-title__wrap{
					transition: height .5s 2.5s, transform .5s 2.4s;
				}
				.event__wrap{
					transition: height .5s 2.5s, transform .5s 2.4s;
				}
				transition: width .3s 2.5s;

			}
		}
		.contact{
			&__title{
				span{
					transition: transform .3s 3s;	
					transform: scaleX(1);
				}
			}
		}
	}
}