@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
$height: 0.09699vh;
@mixin raleway($size,$clr,$weight,$koff:0.09699vh){
  font-family: 'Raleway';
  color: $clr;
  font-size: $koff * $size;
  font-weight: $weight;
}
@mixin oswald($size,$clr,$weight,$koff:0.09699vh){    
  font-family: 'Oswald';
  color: $clr;
  font-size: $koff * $size;
  font-weight: $weight;
}
*:focus{
  outline:none;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.overflow:before,.overflow:after{
  content: "";
  display: table;
}
.overflow:after{
  clear: both;
}
.clear{
  clear: both;
}
.main-body{
  background-image: url('../../static/img/main.bg.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
  width: 100%;
  height:100vh;
  position: relative;
  margin: 0;
  .nav{
    display: flex;
    justify-content:center;
    padding-top: 75px;
    &__list{
      margin: 0;
    }
  }
  .list{
    padding:0;
    display: flex;
    justify-content:center;
    width:100%;
    &__item{
      float: left;
      &:nth-child(2){
        margin: 0 7.7%;
      }
      a{
         @include raleway(18,#fff,bold);
        padding-bottom: 15px;
        transition: color .3s;
        color: #fff;
        text-transform: uppercase;
        &:hover{
          color:#edee82;
          border-bottom: 2px solid #edee82;
          padding-bottom: 13px;
        }
      }
    }
  }
  .main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    .logo{
      text-align: center;
      &__desc{
        @include raleway(36,#fff,400);
        margin-bottom: 30px;
      }
      &__title{
        margin-top: 0;
        @include oswald(174,#fff,500);
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }
  }
  .footer{
    position: absolute;
    bottom: 35px;
    text-align: center;
    width:100%;
    &__text{
      @include raleway(18,#fff,bold);
      text-decoration: none;
      padding-bottom: 10px;
      display: block;
      margin: 0;
      &:focus{
        text-decoration:none;
      }
    }
    &__social{
      float: right;
      padding-right: 24px;
      padding-bottom: 4px;
      i{
        color: #b5b0b8;
        margin-left: 30px;
        font-size: 24px;
        float:left;
        transition: color .3s;
        &:hover{
          color:#edee82;
        }
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
}
