.news{
	height:100vh;
	.logo{
		text-align: left;
		padding: 0 3.125%;
		padding-top: 25 * $height;
		
		&__link{
			@include oswald(22,#000,500);
				text-transform: uppercase;
				letter-spacing: 5px;
				&:hover{
					text-decoration:none;
				}
		}
	}
	&__content{
		padding: 0 3.125%;
		padding-top: 87 * $height;
	}
	.news-content{
		&__title{
			@include oswald(36,#000,500);
			margin: 0;
			margin-left: 3%;
			text-align: left;
			letter-spacing: 2px;
		}
		&__slider-hint{
			@include raleway(16,#a9a9a9,200);
			text-align: right;
			margin-top: 30*$height;
			margin-bottom: 60*$height;
			padding-right: 18.75%;
			letter-spacing: 2px;
		}
		&__animation{
			width: 15%;
			float: left;	
		}
		&__slider{
			width: 85%;
			float: left;
		}
		.news-slider{
			height: 667 * $height;
			.slick-list{
				height: 100%;
			}
			.slick-prev,.slick-next{
				z-index: 4;
				top: 125 * $height;
				width: 11px;
				height: 23px;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-position: center center;
				transition: background-image .3s;
				&:before{
					content:'';
					
				}
			}
			.slick-next{
				right: 25px;	
				background-image: url(../img/slider-news-arrow-active-right.png);
				&:hover{
					background-image: url(../img/slider-4-arrow-active-right.png);
				}
			}
			.slick-prev{
				left: -30px;
				background-image: url(../img/slider-news-arrow-active-left.png);
				&:hover{
					background-image: url(../img/slider-4-arrow-active-left.png);
				}
			}
			.news-article{
				width: 85.7%;
				float: left;
				padding-bottom: 110 * $height;
				position: relative;
				margin: 12px;
				padding-left: 30px;
				padding-top: 35px;
				box-shadow: 0px 0px 50px 12px rgba(247,247,247,1);
				float: left;
				&__title{
					@include oswald(36,#000,500);
					margin: 0;
					margin-bottom: 30*$height;
					line-height: 1.111;
					letter-spacing: 2px;
				}
				&__desc{
					@include raleway(16,#222,400);
					line-height: 1.433;
					margin: 0;
					margin-bottom: 45 * $height;
					letter-spacing: 2px;
				}
				&__link{
					@include raleway(16,#000,400);
					letter-spacing: 2px;
					float: left;
					span{
						display: block;
						right: 0;
						margin-top: 7 * $height;
						width: 100%;
						height: 1px;
						background: #000;
						transition: transform .3s;
						transform: scaleX(0);
						transform-origin: left;
					}
					&:hover{
						text-decoration:none;
						span{
							transform: scaleX(1);
						}
					}
					&:focus{
						outline: none;
						text-decoration: none;
					}
				}
				&__img{
					width: 61.4%;
					height: 290 * $height;
					position: absolute;
					bottom: -116 * $height;
					right: -10%;
					object-fit: cover;
				}
			}
		}
	}
	.news-footer__link{
		@include raleway(18,#000,400);
		text-decoration: none;
		float: left;
		position: absolute;
		bottom: 45 * $height;
		padding-left: 3.125%;
		span{
			display: block;
			position: absolute;
			width: 100%;
			left: 0;
			border-bottom: 5vh;
			height: 2px;
			background: #000;
			transition: transform .3s;
			transform: scaleX(0);
			transform-origin: left;
		}	
		&:hover{
			text-decoration: none;
			span{
				transform: scaleX(1);
			}
		}
	}
	.news-footer{
		padding-right:60px;
		&__logo{
			float: right;
			text-transform: uppercase;
			letter-spacing: 2px;
			@include oswald(16,#000,200);
		}
	}
}
.body-article{
	.news{
		width: 33.6%;
		float: left;
		display: flex;
		align-items: flex-end;
		&__logo{
			position: absolute;
			top: 0;
		}
		&__footer{
			float: 	left;	
			bottom: 0;
		}

	}
	.article{
		.article-content{
			position: absolute;
			top: 50%;
			padding-left: 3.125%;
			transform: translateY(-50%);
			&__title{
				@include oswald(48,#000,500);
				letter-spacing: 5px;
				line-height: 1;
				margin: 0;
				margin-bottom: 40 * $height;
			}
			&__date{
				@include oswald(16,#8b8b8b,500);
				display: inline-block;
				margin: 0;
				margin-bottom: 60* $height;
			}
			&__address{
				@include oswald(24,#000,200);
				margin: 0;
				letter-spacing: 2px;
			}
		}
	}
	.article-desc{
		width: 66.4%;
		height: 100vh;
		float: left;
		padding-left: 7.8%;
		background-image: url('../img/news-article-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		&__text{
			@include raleway(16,#000,400);
			line-height: 1.688;
			letter-spacing: 2px;
			margin-top: 400 * $height;
			padding-top: 45 * $height;
			width: 63%;
			position: relative;
			&:before{
				content:"";
				display: block;
				height: 4px;
				width: 50%;
				background: #000;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}



