.shop{
	height: 100vh;
	&__logo{
		position: absolute;
		left: 60px;
		top: 45 * $height;
		z-index: 1;
		height: 76px;
		width: 96px;
		background-image: url('../img/logo-black.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.active{
		background: linear-gradient(to left, transparent 0%,rgba(215,202,108,.8) 0%);
		.categories-wrap__title,.categories-wrap__type,.categories-wrap__btn{
			color: #fff;
		}
		.categories-wrap__btn{
			background: #000;
		}
		.categories__img{
			display: block;
		}
	}
	.active_3{
		background: linear-gradient(to right, transparent 0%,rgba(215,202,108,.8) 0%);
	}
	.categories{
		width: 33.3%;
		float: left;
		position: relative;
		height: 100vh;
		&:hover{
			.shop__logo{
				background-image: url('../img/shop-logo.png');
			}
		}
		.bascket{
			width: 27.8%;
		}
		&__img{
			width:120%;
			height: 100%;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			position: absolute;
			right: -20%;
			z-index: -1;
			display: none;
			img{
				width:100%;
				height: 100%;
				position: absolute;
				filter:grayscale(100%);
				object-fit: cover;
			}
			&:before{
				content:'';
				display: block;
				width: 37%;
				float: right;
				height: 100%;
				position: relative;
				z-index: 100;
				filter: brightness(200%);
			}
		}
		&:last-child{
			.categories__img{
				left: -20%;
			}
		}
	}
	
	.categories-wrap{
		position: absolute;
		top: 50%;
		width: 100%;
		padding-left: 60px;
		transform: translateY(-50%);
		&__title{
			@include raleway(48,#000,700);
			margin: 0;
			margin-bottom: 30* $height;
		}
		&__type{
			@include raleway(28,#000,200);
			margin: 0;
			margin-bottom: 55 * $height;
		}
		&__btn{
			display: inline-block;
			width: 30%;
			border-radius: 50px;
			border:2px solid #000;
			padding: 13* $height;
			text-align: center;
			@include raleway(16,#000,600);
			&:hover{
				text-decoration:none;
			}
		}
	}
}
.bascket{
	@include raleway(16,#000,600);
	float: right;
	line-height: 3;
	width: 9.27%;
	margin: 0;
	text-align: center;
	border:none;
	border-radius: 50px;
	right: 60px;
	top: 45 * $height;
	z-index: 1;	
	position: absolute;
	background: #fff;
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
	outline: none;
	&__icon{
		margin-left: 10%;
		position: relative;
		display: inline-block;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		&:before{
	    	content:attr(data-count);
	    	display: block;
	    	position: absolute;
	    	line-height: 1.5;
	    	right: -22%;
			@include raleway(12,#fff,600);
			width: 70%;
			height: 40%;
			border-radius: 50%;
			background: #bd1818;
	    };
	    &:after{
	    	content: "";
	    	display: block;
	    	position: absolute;
	    	left: -35%;
	    	height: 60%;
	    	width: 1px;
	    	background: #ebebeb;
	    	top: 20%;
	    }
		i{
			font-size: 25 * $height;	
		}	
	}
	
	.count-product{
    	position: absolute;
		@include raleway(12,#fff,600);
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background: #bd1818;
		top: 1vh;
		text-align: center;
		padding-top: 3px;
    }
}
.product-body{
	height: 100vh;
	label:hover{
		cursor:pointer;
	}
	&__header{
		padding: 0 60px;
	}
	.product-body__content{
		width: 100%;
		display: flex;
		align-items:center;
		justify-content: flex-end;
		height: 100vh;
		position: relative;
		padding: 0 60px;
		.product-detail{
			width: 31.9%;
			.product-sex{
				margin-bottom: 45*$height;
				&__input{
					display: none;
					&:checked+.product-sex__label p:first-child{
						color:#b3b3b3;
					}
					&:checked+.product-sex__label p:last-child{
						color:#000;
					}
				}
				&__label{
					@include raleway(24,#b3b3b3,400);
				}
				p{
					float: left;
					color: #000;
					margin: 0;
					margin-right: 30px;
					position: relative;
					&:before{
						content:"/";
						display: inline-block;
						position: absolute;
						color: #b3b3b3;
						right: -45%;
						transform: translateX(-50%);
					}
					&:last-child:before{
						display: none;
					}
					&:last-child{
						float:right;
						color: #b3b3b3;
						margin: 0;
					};
				}
			}
			.product-color{
				border-radius: 15px;
				border:1px solid #000;
				margin-bottom: 40 * $height;
				background: #fff;
				width: 30%;
				&__input{
					display: none;
					position: relative;
					&:checked+.product-color__label p:first-child{
						padding-left: 14.6%;
						padding-right: 16.3%;
					}
					&:checked+.product-color__label p:last-child{
						padding: 8*$height 10.1% 10*$height 10.1%;						};
					&:checked+.product-color__label:before{
						left: 0;
						background: #fff;
					}
					&:checked+.product-color__label{
						background: #000;
					}
				}
				&__label{
					@include raleway(16,#fff,400);
					border-radius: 15px;
					position: relative;
					margin: 0;
					width: 100%;
					float: left;
					&:before{
						content:"";
						display: block;
						width: 53%;
						height: 100%;
						position: absolute;
						right: 0;
						top: 0;
						background: #000;
						border-radius: 15px;
					}	
					p{
						float: left;
						border-radius: 15px;
						margin:0;
						position: relative;
						padding: 8*$height 10.1% 10*$height 10.1%;
						&:first-child{
							color: #000;
						}
						&:last-child{
							float:right;
							color: #fff;
							padding-left: 14.6%;
							padding-right: 16.3%;
						};
					}
				}
			}
			&__title{
				@include raleway(36,#000,700);
				letter-spacing: 2px;
				margin: 0;
				margin-bottom: 40*$height;
				line-height: 1.333;
			}
			&__price{
				@include raleway(48,#000,700);
				margin-bottom: 60*$height;
				line-height: 1;
				sup{
					@include raleway(24,#000,400);
					padding-left: 10px;
				}
			}
			.product-size{
				width: 40.5%;
				border-radius: 100px;
				padding: 15 * $height 5.6% 15 * $height 4.8%;
				box-shadow: 0px 15px 20px 0px rgba(225,225,225,1);
				display: flex;
				justify-content: space-around;
				margin-bottom: 60*$height;
				&__input{
					display: none;
					&:checked+.product-size__label{
						color:#000;
					}
				}
				&__label{
					@include raleway(16,#bcbcbc,700);
					text-transform: uppercase;
				}
			}
			&__btn{
				background: #bb5149;
				width: 32.4%;
				line-height: 3;
				border-radius: 100px;
				@include raleway(16,#fff,600);
				outline: none;
				border:none;
				i{
					margin-left: 10%;
					color: #fff;
					font-size: 24*$height;
					position: relative;
					&:after{
						content:"";
						display: block;
						height: 100%;
						width: 1px;
						background: #cd807a;
						position: absolute;
						left: -45%;
						top: 0;
					}
				}
			}
		}
	}
	.product-slider-wrap{
		width: 68%;
		height: 100vh;
		
		padding-top: 116*$height;
		left: 0;
		top:0;
		/*display: none;*/
		.product-slider{
			width: 90%;
			float: right;
			height: 100vh - 116*$height;
			.slick-list{
				height: 100vh - 116*$height;
			}
			&__item{
				height: 100%;
				.zoo-item{
					top: 0;
					transition: all 0.5s;
					height: 100vh - 116*$height;
					.zoo-img{
						background-size: 80% 100%;
					}
				}
				&:focus{
					outline:none;
				}
			}
		}
		.product-slider-small{
			width: 10%;
			float: left;
			top: 50%;
			transform: translateY(-50%);
			&__item{
				margin: 20*$height 0;
				width: 	100% !important;
				&:focus{
					outline:none;
				}
				img{
					object-fit: cover;
					height: 100%;
					width: 100%;
					margin: 0;
				}
			}
		}
	}
	.product-footer__link{
		padding-left: 60px;
		float: left;
		position:absolute;
		margin: 0;
		bottom:50 * $height;
		@include raleway(16,#010101,400);

		span{
			display: block;
		    position: absolute;
		    width: 100%;
		    left: 0;
		    border-bottom: 5vh;
		    height: 2px;
		    background: #000;
		    transition: transform .3s;
		    transform: scaleX(0);
		    transform-origin: left;
		}
		&:hover{
			text-decoration:none;
			span{
				transform: scaleX(1);
			}
		}
	}
	.product-zoom{
		position: absolute;
		right: 33%;
		bottom:30 * $height;
		@include raleway(16,#d8d8d8,400);
	}
	.product-footer{
		position: absolute;
		z-index:-1;
		bottom: 0;
		width: 100%;
		margin-bottom:50 * $height;
		&__copyright{
			float: 	right;
			margin: 0;
			padding-right: 	60px;
			@include raleway(16,#010101,200);
		}
	}
}



